.container1{
    border:1px solid #cccccc;
    width: 70%;
    background-color: #cccccc;
    display: block;
    margin-left: auto;
    margin-right:auto;

}

body {
    background-color: #466BD3;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    margin: 0 auto;
    text-align: center;
}

#main {
    max-width:800px;
    margin: 5px auto;
}
.myBorders {
    border: solid 1px #6F8CDD;  
    max-width:500px;
    margin: 5px 10px;  
}

.myText {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px;
    /* to keeep the width */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.section-left{
    display: inline;
    position: relative;
    left:0px;
    margin-left: 5px;
    text-align: right;
}

.section-right{
    display: inline;
    position: relative;
    margin-left: 50%;
    text-align: left;
}
footer {
    background-color: #DDC06F;
    color: #6F8CDD;
}
header {
    background-color: #DDC06F;
    color: #6F8CDD;
}
article {
    background-color: #DDC06F;
    color: #6F8CDD;
}

li {
    display: inline;
    list-style: none;
}